body {
    font-family: Arial, sans-serif;
    padding: 10px;
    margin: 0;
    min-width: 400px;
}

input {
    width: 100%;
    padding-left: 10px;
    padding-right:10px;
    padding-top: 10px;
    padding-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid #5f9341
}


button {
    background: #5f9341;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
    padding-left: 20px;
    font-weight: bold;
    margin-top: 4px;
    border: none;
}

ul {
    margin-top: 20px;
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 8px;
    margin-top: 5px
}

a {
    text-decoration: none;
    color: #5f9341;
}